#include <charybdish.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Charybd-ish 23332";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  100   20       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   20       0     0     0>
            , <&key_physical_attrs 100 100  400   70       0     0     0>
            , <&key_physical_attrs 100 100  800   70       0     0     0>
            , <&key_physical_attrs 100 100  900   20       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100   20       0     0     0>
            , <&key_physical_attrs 100 100    0  180       0     0     0>
            , <&key_physical_attrs 100 100  100  120       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  120       0     0     0>
            , <&key_physical_attrs 100 100  400  170       0     0     0>
            , <&key_physical_attrs 100 100  800  170       0     0     0>
            , <&key_physical_attrs 100 100  900  120       0     0     0>
            , <&key_physical_attrs 100 100 1000  100       0     0     0>
            , <&key_physical_attrs 100 100 1100  120       0     0     0>
            , <&key_physical_attrs 100 100 1200  180       0     0     0>
            , <&key_physical_attrs 100 100    0  280       0     0     0>
            , <&key_physical_attrs 100 100  100  220       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  220       0     0     0>
            , <&key_physical_attrs 100 100  900  220       0     0     0>
            , <&key_physical_attrs 100 100 1000  200       0     0     0>
            , <&key_physical_attrs 100 100 1100  220       0     0     0>
            , <&key_physical_attrs 100 100 1200  280       0     0     0>
            , <&key_physical_attrs 100 100  248  324       0     0     0>
            , <&key_physical_attrs 100 100  248  324    1500   298   790>
            , <&key_physical_attrs 100 100  248  330    3000   298   790>
            , <&key_physical_attrs 100 100  952  330 (-3000)  1002   790>
            , <&key_physical_attrs 100 100  952  324 (-1500)  1002   790>
            ;
    };
};
