#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors/mouse_keys.dtsi>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 72
#define MS LSHFT
#define MA LALT
#define MC LCTL

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/* --- KEYMAP CONFIG --- */
// ╭──────┬──────┬──────┬──────┬──────╮  ╭──────┬──────┬──────┬──────┬──────╮
//           00     01     02     03        04     05     06     07         
// ├──────┼──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┼──────┼──────┤
//    08     09     10     11     12        13     14     15     16     17   
// ├──────┼──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┼──────┼──────┤
//    18     19     20     21                      22     23     24     25   
// ╰──────┴──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┴──────┴──────╯
//                  26     27     28        29     30
//               ╰──────┴──────┴──────╯  ╰──────┴──────╯

#define LAYER_BASE          0
#define LAYER_ODK           1
#define LAYER_ODK_SHIFT     2
#define LAYER_NUMNAV        3
#define LAYER_NUM_ROW       4
#define LAYER_FUNC          5
#define LAYER_PARAM         6
#define MOUSE_NORMAL        7
#define MOUSE_SNIPE         8
#define MOUSE_SCROLL        9

/ {
    zip_temp_layer: zip_temp_layer {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>;
        require-prior-idle-ms = <1500>;
    };

    behaviors {
        HMR_R: HMR_R {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR_R";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 8 9 10 11 12 18 19 20 21 26 27 28 29 30>;
            hold-trigger-on-release;
            require-prior-idle-ms = <210>;
        };

        HRM_L: HRM_L {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_L";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <4 5 6 7 13 14 15 16 17 22 23 24 25 29 30 28 27 26>;
            flavor = "balanced";
            require-prior-idle-ms = <210>;
        };

        mouse_scrll_v: mouse_scrll_v {
            compatible = "zmk,behavior-sensor-rotate";
            label = "MOUSE_SCRLL_V";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        mouse_scroll_h: mouse_scroll_h {
            compatible = "zmk,behavior-sensor-rotate";
            label = "MOUSE_SCROLL_H";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };

        osm: one_shot_modifier {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            tap-ms = <0>;
            wait-ms = <0>;
            bindings =
                <&macro_param_1to1>,
                <&macro_tap>,
                <&sk MACRO_PLACEHOLDER>;
        };

        osl: one_shot_layer {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            tap-ms = <0>;
            wait-ms = <0>;
            bindings =
                <&macro_param_1to1>,
                <&macro_tap>,
                <&sl MACRO_PLACEHOLDER>;
        };

        // I mean, it wants everything at the same time

        bls: bisexual_layer_switch {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&osl>;
        };

        dead_key: dead_key {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&bls 1 1>, <&kp O>;

            mods = <(MOD_LSFT|MOD_RSFT|MOD_RALT|MOD_LGUI)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT|MOD_RALT|MOD_LGUI|MOD_LCTL)>;
        };

        nsodk: no_shift_one_dead_key {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp O>, <&kp O>;

            mods = <(MOD_LSFT)>;
        };

        q_ctrl_z: q_ctrl_z {
            compatible = "zmk,behavior-mod-morph";
            label = "Q_CTRL_Z";
            bindings = <&kp Q>, <&kp Z>;

            #binding-cells = <0>;
            mods = <(MOD_RCTL|MOD_LCTL)>;
            keep-mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        mouse_q_ctrl_z: mouse_q_ctrl_z {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUSE_Q_CTRL_Z";
            bindings = <&mo>, <&q_ctrl_z>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <210>;
            hold-trigger-on-release;
        };
    };

    macros {
        odk: one_dead_key {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            tap-ms = <0>;
            wait-ms = <0>;
            bindings =
                <&macro_tap>,
                <&nsodk &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>;
        };

        sodk: shifted_one_dead_key {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            tap-ms = <0>;
            wait-ms = <0>;
            bindings =
                <&macro_tap>,
                <&nsodk>,
                <&macro_press>,
                <&kp LSHFT &macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LSHFT>;
        };
    };

    combos {
        compatible = "zmk,combos";

        enter {
            bindings = <&kp ENTER>;
            key-positions = <16 15 14>;
        };

        printscreen {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <21 19>;
            require-prior-idle-ms = <250>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <9 10 11>;
            require-prior-idle-ms = <250>;
        };

        capslock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <3 4>;
            require-prior-idle-ms = <250>;
        };

        kp_divide {
            bindings = <&kp KP_DIVIDE>;
            key-positions = <5 6>;
            layers = <3>;
            require-prior-idle-ms = <250>;
        };

        kp_mult {
            bindings = <&kp KP_ASTERISK>;
            key-positions = <14 15>;
            layers = <3>;
            require-prior-idle-ms = <250>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <27 28>;
            layers = <0>;
            require-prior-idle-ms = <250>;
        };

        ctrl_backspace {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <30 29>;
            layers = <0>;
            require-prior-idle-ms = <250>;
        };

        scroll_layer {
            bindings = <&mo 9>;
            key-positions = <18 19>;
            layers = <0>;
            require-prior-idle-ms = <250>;
        };

        k_q {
            bindings = <&kp Q>;
            key-positions = <8 9>;
            require-prior-idle-ms = <210>;
        };

        k_y {
            bindings = <&kp Y>;
            key-positions = <16 17>;
            require-prior-idle-ms = <210>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp W                &kp E              &kp R           &kp T           &kp N      &kp U        &kp I                    &dead_key
&HRM_L LEFT_GUI A    &HRM_L LEFT_ALT S  &HRM_L LCTRL D  &HRM_L LSHFT F  &kp G      &kp H        &HMR_R RSHIFT J          &HMR_R RCTRL K  &HMR_R LEFT_ALT L  &HMR_R RGUI SEMI
&mouse_q_ctrl_z 7 0  &kp X              &kp C           &kp V           &kp M      &kp COMMA    &kp DOT                  &kp P
                                        &kp K_MUTE      &kp LEFT_SHIFT  &lt 3 TAB  &lt 4 SPACE  &mt RIGHT_ALT BACKSPACE
            >;

            sensor-bindings = <&mouse_scrll_v>;
        };

        super_odk {
            display-name = "SuperOneDeadKey";
            bindings = <
&odk W  &odk E  &odk R  &kp Z   &odk N     &kp Y       &odk I                   &odk O
&odk A  &odk S  &odk D  &odk F  &kp B      &odk H      &odk J                   &odk K  &odk L  &odk SEMI
&odk Q  &odk X  &odk C  &odk V  &kp SLASH  &odk COMMA  &odk DOT                 &odk P
                &none   &osl 2  &kp TAB    &odk SPACE  &mt RIGHT_ALT BACKSPACE
            >;

            sensor-bindings = <&mouse_scrll_v>;
        };

        super_odk_shift {
            display-name = "SuperOneDeadKeyShifted";
            bindings = <
&sodk W  &sodk E  &sodk R  &kp LS(Z)  &sodk N        &kp LS(Y)    &sodk I                  &sodk O
&sodk A  &sodk S  &sodk D  &sodk F    &kp LS(B)      &sodk H      &sodk J                  &sodk K  &sodk L  &sodk SEMI
&sodk Q  &sodk X  &sodk C  &sodk V    &kp LS(SLASH)  &sodk COMMA  &sodk DOT                &sodk P
                  &none    &osl 2     &kp TAB        &sodk SPACE  &mt RIGHT_ALT BACKSPACE
            >;

            sensor-bindings = <&mouse_scrll_v>;
        };

        num_nav {
            bindings = <
&kp LC(W)  &kp UP_ARROW    &none           &kp DELETE  &kp KP_SUBTRACT  &kp KP_NUMBER_7  &kp KP_N8                 &kp KP_NUMBER_9
&none      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT   &none            &kp KP_PLUS      &HMR_R RSHFT KP_NUMBER_4  &HMR_R RCTRL KP_NUMBER_5  &HMR_R LALT KP_NUMBER_6  &HMR_R RMETA KP_N0
&none      &kp LC(X)       &none           &kp LC(V)   &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3           &kp KP_DOT
                           &kp K_MUTE      &kp LSHFT   &kp TAB          &lt 5 SPACE      &mt RIGHT_ALT BACKSPACE
            >;

            sensor-bindings = <&mouse_scroll_h>;
        };

        num {
            bindings = <
&kp LS(N1)                &kp LS(N2)                &kp LS(N3)             &kp LS(N9)              &kp LS(N0)  &kp RA(Z)  &none                    &none
&HRM_L LEFT_GUI NUMBER_1  &HRM_L LEFT_ALT NUMBER_2  &HRM_L LCTRL NUMBER_3  &HRM_L LSHIFT NUMBER_4  &kp N5      &kp N6     &HMR_R RSHFT N7          &HMR_R RCTRL N8  &HMR_R LEFT_ALT N9  &HMR_R RMETA N0
&none                     &none                     &none                  &none                   &none       &none      &none                    &none
                                                    &kp K_PLAY_PAUSE       &kp LSHFT               &lt 5 TAB   &kp SPACE  &mt RIGHT_ALT BACKSPACE
            >;

            sensor-bindings = <&inc_dec_kp C_AC_ZOOM_IN C_AC_ZOOM_OUT>;
        };

        func {
            bindings = <
&kp F1   &kp F2  &kp F3  &kp F12    &none    &none      &none               &none
&kp F10  &kp F4  &kp F5  &kp F6     &none    &none      &kp RSHIFT          &kp RCTRL  &kp LEFT_ALT  &kp RGUI
&kp F11  &kp F7  &kp F8  &kp F9     &none    &none      &none               &none
                 &none   &kp LSHFT  &kp TAB  &kp SPACE  &mt RALT BACKSPACE
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        params {
            bindings = <
&none  &none  &none  &bt BT_SEL 0  &none  &none  &none  &none
&none  &none  &none  &none         &none  &none  &none  &none  &none  &none
&none  &none  &none  &none         &none  &none  &none  &none
              &none  &none         &none  &none  &none
            >;

            sensor-bindings = <&mouse_scrll_v>;
        };

        MOUSE-NORMAL {
            bindings = <
&none     &none      &none      &mo 8      &none     &none      &none          &none
&kp LGUI  &kp LALT   &kp LCTRL  &kp LSHFT  &mkp MB3  &none      &none          &none  &none  &none
&none     &kp LC(X)  &kp LC(W)  &kp LC(V)  &none     &none      &none          &none
                     &none      &mkp MB1   &mkp MB2  &kp SPACE  &kp BACKSPACE
            >;

            sensor-bindings = <&mouse_scrll_v>;
        };

        MOUSE-SNIPE {
            bindings = <
&none     &none      &none      &none      &none      &none      &none          &none
&kp LGUI  &kp LALT   &kp LCTRL  &kp LSHFT  &mkp MB3   &none      &none          &none  &none  &none
&none     &kp LC(X)  &kp LC(W)  &kp LC(V)  &none      &none      &none          &none
                     &none      &mkp LCLK  &mkp RCLK  &kp SPACE  &kp BACKSPACE
            >;

            sensor-bindings = <&mouse_scrll_v>;
        };

        SCROLL {
            bindings = <
&none     &none     &none      &none      &none     &none  &none  &none
&kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &mkp MB3  &none  &none  &none  &none  &none
&none     &none     &none      &none      &none     &none  &none  &none
                    &none      &mkp MB1   &mkp MB2  &none  &none
            >;

            sensor-bindings = <&mouse_scrll_v>;
        };
    };
};
